.topbar{
    height: 50px;
    width: 100%;
    background-color: #283290;
    box-shadow: 0px 0px 10px #283290;
    position: fixed;
    top: 0;
    z-index: 999;
}
.topbarWrapper{
    height: 50px;
    display: flex;
    align-items: center;
}
.homeLogo{
    font-size: 25px;
    font-weight: 700;
    margin-left: 25px;
    margin-right: 25px;
    color: #00ff0d;
}
.topbarList{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.nav-link{
    margin: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-link:hover{
    color: #20d34a !important;
}

.topbarProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50px;
}
.topbarProfImg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: auto;
}
.topbarEmail{
    color: white;
    margin-left: 5px;
    cursor: pointer;
    border:none;
}

.cartDiv{
    margin-left: 30px;
    position: relative;
    cursor: pointer;
}
.cartNumber{
    position: absolute;
    color: white;
    font-size: 12px;
    background-color: red;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    top: -5px;
    right: -10px;
    box-shadow: 0px 0px 10px black;
}
.fa-shopping-cart{
    color: white;
    font-size: 22px;
}

.menu-btn {
    background-color: #283290;
    color: white;
    padding-right: 16px;
    font-size: 20px;
    border: none;
    height: 50px;
 }
 .dropdown-menu {
    position: relative;
    display: inline-block;
 }
 .menu-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 180px;
    z-index: 1;
 }
 nav{
    background-color:white;
    
 }
 .links,.links-hidden{
    display: inline-block;
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
 }
 .links-hidden{
    display: block;
 }
 .links{
    display: inline-block;
 }
 .links-hidden:hover,.links:hover {
    color:grey;
 }
 .dropdown-menu:hover .menu-content {
    display: block;
    
 }