.topbar{
    height: 50px;
    width: 100%;
    background-color: #283290;
    box-shadow: 0px 0px 10px #283290;
    position: fixed;
    top: 0;
    z-index: 999;
}
.topbarWrapper{
    height: 50px;
    display: flex;
    align-items: center;
}
.homeLogo{
    font-size: 25px;
    font-weight: 700;
    margin-left: 25px;
    margin-right: 25px;
    color: #00ff0d;
}
.topbarList{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.nav-link{
    margin: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-link:hover{
    color: #20d34a !important;
}