.topbar{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #283290;
}
.topbarList{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.nav-link{
    margin: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-link:hover{
    color: #20d34a !important;
}