.homeWrapper{
    display: flex;
    height: calc(100vh - 50px);
}

.homeLeft{
    flex: 0.5;
    background-color: #f0f2f5;
}
.leftWrapper{
    padding: 20px;   
}
.inputItem{
    margin: 10px 20px;
}
.inputItem i{
    position: absolute;
    font-size: 20px;
    margin: 10px;
    color: gray;
}
.inputProduct{
    width: -webkit-fill-available;
    padding: 10px 20px 10px 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 27px -10px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0px 0px 27px -10px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 27px -10px rgba(0,0,0,0.45);
}

.homeRight{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}